/* @font-face {
    font-family: "Oswald";
    src: url("../../assets/fonts/Oswald.ttf");
}

* {
    font-family: "oswald";
} */

@font-face {
    font-family: "Pilsenplakat";
    src: url("../tipografia/PilsenPlakat.ttf");
}

@font-face {
    font-family: "Ltremark";
    src: url("../tipografia/LTRemark-May2021.otf");
}

@font-face {
    font-family: "Pilsenplakat";
    src: url("../tipografia/PilsenPlakat.ttf");
}

* {
    font-family: "Pilsenplakat";
}

.titulo {
    text-align: center;
    font-size: 40px;
    color: #000000;
    font-weight: bold;
    font-family: "Pilsenplakat";
}

.titulo_small {
    text-align: center;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    font-family: "Pilsenplakat";
}

.titulo_categoria {
    text-align: center;
    font-size: 35px;
    color: black;
    font-weight: bold;
    font-family: "Pilsenplakat";
}

.descripcion {
    font-family: "Ltremark" !important;
    font-size: 16px;
    color: #7b8a8b;
}

.descripcion_nota {
    font-family: "Ltremark" !important;
    font-size: 12px;
    color: #ec1515;
}

.descripcion_carta {
    font-family: "Ltremark" !important;
    font-size: 16px;
    text-transform: lowercase;
}

.descripcion_carta:first-letter {

    text-transform: uppercase;

}

.descripcion2 {
    font-family: "Ltremark" !important;
    font-size: 20px;
    color: #7b8a8b;
}

.descripcion_bold {
    font-family: "Ltremark" !important;
    font-weight: 900;
    font-size: 16px;
    color: #7b8a8b;
}

.separador {
    border-top-style: solid;
    border-top-width: 1px;
    width: 100%;
}

.link-activo {
    color: #F8B106 !important
}


body::-webkit-scrollbar {
    width: 8px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: #F8B106 #CFD8DC;
}

body::-webkit-scrollbar-track {
    background: #CFD8DC;
}

body::-webkit-scrollbar-thumb {
    background-color: #F8B106;
    border-radius: 6px;
    border: 3px solid #F8B106;
}


/*GOOGLE BUTTON*/

/*GOOGLE BUTTON*/
#customBtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 100%;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
}

#customBtn:hover {
    cursor: pointer;
}

span.label {
    /* font-family: serif; */
    font-weight: normal;
}

span.icon {
    background: url('../img/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

span.buttonText {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    /* font-family: 'Roboto', sans-serif; */
}

/* END  GOOGLE BUTTON*/

.text-egipcio {
    color: #000000 !important;

    text-transform: lowercase;
}


.text-egipcio:first-letter {

    text-transform: uppercase;

}

.text-egipcioNotImportant {
    color: #000000;
}

.modal {
    z-index: 2001;
}

/* Chrome, Safari, Edge, Opera */
.removeArrows input::-webkit-outer-spin-button,
.removeArrows input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

/* Firefox */
.removeArrows input[type=number] {
    -moz-appearance: textfield !important;
}

/*
########################## - MEDIAQUERIES ##############
*/
@media (max-width: 576px) {
    .main-container {
        margin-top: 100px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .main-container {
        margin-top: 100px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .main-container {
        margin-top: 150px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .main-container {
        margin-top: 150px;
    }
}


@media (min-width: 1200px) {
    .main-container {
        margin-top: 150px;
    }
}

.cursor-pointer {
    cursor: pointer !important;
}

.pac-container {
    z-index: 2147483647 !important;
}


.ingrediente-button {
    color: #000;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #22376A;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;

    /*impedir que se seleccione el texto*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

/* input:checked+label {
    background-color: #22376A !important;
    color: white;
}

input:checked+label:after {
   
    background-color: #22376A !important;
    color: white;
    content: "\f00c";
} */

.swal2-container {
    z-index: 9999 !important;
}

.bg-micarcochita-yellow {
    color: #22376A;
}

/* ----- Social --------- */

@media screen and (max-width: 400px) {
    .social {
        position: fixed;
        right: 0;
        top: 95px;
        z-index: 2000;
    }

    .social ul li a {

        padding: 10px 15px;

    }
}


.social {
    position: fixed;
    right: 0;
    top: 200px;
    z-index: 2000;
}

.social ul {
    list-style: none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    float: right;
}



.social ul li .icon-facebook {
    background: #3b5998;
}

.social ul li .icon-instagram {
    background: #e4405f;
}

.social ul li .icon-whatsapp {
    background: #25d366;
}

.social ul li .icon-whatsapp-san-borja {
    background: #1b9648;
}

/* ----------- navbar ------------ */

.text-carcochita {
    color: #22376A !important;
    font-size: 24px;
}